$main-font: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$second-font: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$accent-title-font: 'Kaushan Script', 'Franklin Gothic Medium', 'Arial Narrow';
$hero-title-font: 'Yusei Magic', Tahoma, Geneva, Verdana, sans-serif;

$font-main-color: #ffffff;
$font-second-color: #000000;
