.nav {
  &__menu {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: $font-main-color;
    background-color: rgb(0, 0, 0);
    width: 100%;
    margin: 0 auto;
    padding: 15px 15px;
    z-index: 10;
  }

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__link {
    &:after {
      content: '';
      margin: auto;
      display: block;
      width: 0;
      height: 2px;
      background-color: rgb(117, 0, 0);
      margin: 7px 0 0 0;
      transition: all 0.3s linear;
    }

    &:hover.nav__link:after {
      width: 100%;
    }
  }
}

.logo__text {
  font-family: $accent-title-font;
  font-style: italic;
  font-size: 30px;
  cursor: pointer;
}
